.classpath
.settings
*.launch
.eprj
TODO.txt
*.zip
stacktrace.log
docs/
grails-app/i18n/
.svn
docs

# IntelliJ IDEA project files
.idea
*.iml
/out/

target/

web-app/css
web-app/images
web-app/js
web-app/META-INF
