<plugin name='zk' version='0.7.8' grailsVersion='1.1 &gt; *'>
  <author>chanwit</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>ZKGrails: ZK plugin for Grails</title>
  <description>\
Originated from Flyisland ZK Grails Plugin,
this plugin adds ZK Ajax framework (www.zkoss.org) support to Grails applications.
</description>
  <documentation>http://grails.org/plugin/zk</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>ZkTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior>
    <method name='propertyMissing' artefact='Domain' type='org.zkoss.zk.ui.AbstractComponent'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <method name='methodMissing' artefact='Domain' type='org.zkoss.zk.ui.AbstractComponent'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <method name='append' artefact='Domain' type='org.zkoss.zk.ui.AbstractComponent'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='clear' artefact='Domain' type='org.zkoss.zul.Listbox'>
      <description />
    </method>
    <method name='setModel' artefact='Domain' type='org.zkoss.zul.Listbox'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='getModel' artefact='Domain' type='org.zkoss.zul.Listbox'>
      <description />
    </method>
    <method name='getAt' artefact='Domain' type='org.zkoss.zul.AbstractListModel'>
      <description />
      <argument type='java.lang.Integer' />
    </method>
    <method name='getAt' artefact='Domain' type='org.zkoss.zk.ui.http.SimpleSession'>
      <description />
      <argument type='java.lang.String' />
    </method>
    <method name='putAt' artefact='Domain' type='org.zkoss.zk.ui.http.SimpleSession'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <method name='propertyMissing' artefact='Domain' type='org.zkoss.zk.ui.http.SimpleSession'>
      <description />
      <argument type='java.lang.String' />
    </method>
    <method name='propertyMissing' artefact='Domain' type='org.zkoss.zk.ui.http.SimpleSession'>
      <description />
      <argument type='java.lang.String' />
      <argument type='java.lang.Object' />
    </method>
    <property name='model' type='org.zkoss.zul.Listbox' artefact='Domain'>
      <description />
    </property>
    <property name='model' type='org.zkoss.zul.Listbox' artefact='Domain'>
      <description />
    </property>
  </behavior>
</plugin>