<plugin name='zk' version='1.0-M2' grailsVersion='1.1 &gt; *'>
  <author>chanwit</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>ZKGrails: ZK plugin for Grails</title>
  <description>\
Originated from Flyisland ZK Grails Plugin,
this plugin adds ZK Ajax framework (www.zkoss.org) support to Grails applications.
</description>
  <documentation>http://grails.org/plugin/zk</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>ZkTagLib</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>