<plugin name='zk' version='0.7.6' grailsVersion='1.1 &gt; *'>
  <author>chanwit</author>
  <authorEmail>chanwit@gmail.com</authorEmail>
  <title>ZK for Grails</title>
  <description>\
Derived from Flyisland ZK Grails Plugin,
this plugin adds ZK Ajax framework (www.zkoss.org)
support to Grails applications.
</description>
  <documentation>http://grails.org/Zk+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>ZkTagLib</resource>
  </resources>
  <dependencies />
</plugin>